# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
/*************  ✨ Codeium Command ⭐  *************/
# environment files
.env

/******  45f778d6-3bdf-4cb5-8003-05fe9e85dc0c  *******/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Tailwind CSS derlenen dosyalar
# Örnek olarak, eğer derlenen dosyalar 'styles' klasörü altındaysa
# Bu klasörü .gitignore dosyasına eklememelisiniz.
!styles/generated/
