@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.red {
    color: #db0000;
}
.black {
    color: #000000;
}
.white {
    color: #ffffff;
}

.gray {
    color: #564d4d;
}

.darkRed {
    color: #831010;
}
